# Virtual environment
.venv/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# macOS
.DS_Store

# Data folders (SDM heavy files)
data/raw/
data/shapefiles/
data/cleaned/
data/geocode/
data/daily_time_grid.csv
data/env
data/model_dataset.csv

# Large geospatial formats
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.tif
*.tiff
*.gpkg
*.geojson